---
---

@import "{{ site.theme }}";

#project_title {
    font-size: 1.6em;
}

#project_tagline {
    font-size: 1.4em;
}

@media screen and (max-width: 480px) {
    .outer {
        min-width: 300%;
    }
}
